

<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	<div class="m-4 w-full flex-grow p-4">
        <h1 class="text-3xl font-bold">All tasks</h1><br>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <% @tasks.each do |task|%>
            
            <ul class="bg-white shadow overflow-hidden max-w-sm  mt-16">
                 <li>
                    <div class="px-4 py-5 sm:px-6">
                        <div>
                            
                            <%= link_to task.title , @task , class: "text-lg uppercase font-bold text-gray-900" %>
                            <p class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                                 <%= task.category.title %> <!-- Accessing category title -->
                            </p>
                            
                            <h3 class="text-sm leading-6 font-medium text-gray-900"><%= task.date %></h3>
                            
                            <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= task.desc %></p>
                        </div>
                        <div class="mt-4 flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-500">Status: <span class="text-green-600">Active</span></p>
                        </div>

                        <div class="mt-4 flex items-center justify-between">
                                                
                            <!-- Edit link -->
                            <!-- Delete button -->
                        
                                
                        </div>
                    </div>
                </li>
            </ul>
            <% end %>
            
           </div>
                
                </div>
</div>
