<div class="h-100 w-full flex-col items-center justify-center bg-teal-lightest font-sans">
  <div class="max-w-screen-xl m-4 flex-grow p-4">
    <h1 class="text-3xl font-bold">My Tasks</h1>
    
    <% @tasks.each do |task| %>
      <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <p><%= link_to task.title, category_task_path(task.category_id, task.id) %></p>
        <p>Description: <%= task.desc %></p>
        <%= link_to "Edit", edit_category_task_path(task.category_id, task.id), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to "New Task", new_category_task_path(category_id: @category.id), class: "btn btn-primary" %>
  </div>
</div>
