
<div class="h-100 flex-col items-center justify-center bg-teal-lightest font-sans mx-auto pt-7">
    <h2 class="m-0 font-bold tracking-tight text-5xl text-gray-900">New Task</h2>

    <%= render "form", task: @task %>

    <div>
        <%= link_to categories_path do %>
        <%= inline_svg "svg/back-arrow.svg", class: "h-4 w-4 inline hover:text-indigo-600 transition duration-300" %>
        <% end %>
    </div>
</div>
