
<div class="h-100 flex-col items-center justify-center bg-teal-lightest font-sans mx-auto pt-7">
    <h2 class="m-0 font-bold tracking-tight text-5xl text-gray-900">New Task</h2>

    <%= render "form", task: @task %>

    <div>
        <%= link_to "Back to Tasks list", category_tasks_path %>
    </div>
</div>
