<div class="h-100 flex-col items-center justify-center font-sans">
  <div class="max-w-screen-xl m-4 flex-grow p-4">
    <h1 class="text-3xl font-bold">Tasks due today:</h1>
    
    <!-- Tasks List -->
      <% if @tasks_today.present? %>
        <% @tasks_today.each do |task| %>
        <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
            <h2 class="text-xl font-bold hover:text-red-600"><%= link_to task.title, category_task_path(task.category_id, task.id) %></h3>
            <p class="font-sans text-base text-gray-600">Description: <%= task.desc %></p>

            <%= link_to "Edit", edit_category_task_path(task.category_id, task.id), class: "btn btn-primary" %>
        </div>


        <% end %>
      <% else %>
      <div>
        <h4 class="text-gray-500 italic p-6 bg-red-200 mt-4 mb-4">Looks like there are no priority tasks for today.</h4>
        <%= link_to "Back to All Tasks", tasks_path, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"%>
      </div>
      <% end %>
      

      

    
  </div>
</div>
