
<div class="h-100 w-full flex-col items-center justify-center bg-teal-lightest font-sans">
    <div class=" max-w-screen-xl m-4 flex-grow p-4">
        <h1 class="text-3xl font-bold">My Categories</h1>
        
            <% @categories.each do |category|%>
            <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
                <p> <%= link_to category.title, category %> </p>
                <p>  Description: <%= category.desc %> </p>
            </div>
            <% end %>

            <%= link_to "Add a new category", new_category_path %> 
    </div>
                
</div>

